spring:
  application:
    name: backend
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

---
# Profil DEV
spring:
  config:
    activate:
      on-profile: dev
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb+srv://user:v53VXo2oAodMpVlO@cluster0. 3b3zbzx.mongodb.net/tododb?retryWrites=true&w=majority&appName=Cluster0}

server:
  port: 8080

---
# Profil PROD
spring:
  config:
    activate:
      on-profile: prod
  data:
    mongodb:
      uri: ${MONGODB_URI}

server:
  port: ${PORT:8080}